<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript"
        src="http://code.jquery.com/jquery-2.1.4.min.js">
</script>
<!--board 정체 찾기-->
<!--self.location = "contList";의 contList는 마니아컨트롤러의 contList이다.-->
<script>
    $(document).ready(function() {

        var mrFormObj = $("#board");

        $("#btnRegister").on("click", function() {
            mrFormObj.attr("action", "postManiaRegister");
            mrFormObj.attr("method", "post");
            mrFormObj.submit();
        });

        $("#btnList").on("click", function() {
            self.location = "mania_list";
        });

    });
</script>

<body>
    <h1>아이템 등록 페이지</h1>

    <form id="board" action="board/mania_success.html"
          th:action="@{mania_register}"
          th:object="${board}" method="post">

        <table>
            <tr>
                <td>ItemName</td>
                <td><input type="text" name="item_name"
                           th:field="*{itemName}"/></td>
                <td><font color="red">
                    <span th:if="${#fields.hasErrors('itemName')}"
                          th:errors="*{itemName}">
                        item name Error Message
                    </span>
                </font></td>
            </tr>

            <tr>
                <td>Nickname</td>
                <td><input type="text" name="nickName"
                        th:field="*{nickName}"/></td>
                <td><font color="red">
                    <span th:if="${#fields.hasErrors('nickName')}"
                          th:errors="*{nickName}">
                        Nickname Error Message
                    </span>
                </font></td>
            </tr>

            <tr>
                <td>ID</td>
                <td><input type="text" name="userId"
                           th:field="*{userId}"/></td>
                <td><font color="red">
                    <span th:if="${#fields.hasErrors('userId')}"
                          th:errors="*{userId}">
                        ID Error Message
                    </span>
                </font></td>
            </tr>

            <tr>
                <td>Price</td>
                <td><input type="text" name="price"
                           th:field="*{price}"/></td>
                <td><font color="red">
                    <span th:if="${#fields.hasErrors('price')}"
                          th:errors="*{price}">
                        Price Error Message
                    </span>
                </font></td>
            </tr>

            <tr>
                <td>아이템 설명</td>
                <td><textarea name="content"
                        th:field="*{content}"></textarea></td>
                <td><font color="red">
                    <span th:if="${#fields.hasErrors('content')}"
                          th:errors="*{content}">
                        Content Error Message
                    </span>
                </font></td>
            </tr>
        </table>
    </form>

<div>
    <button type="submit" id="btnRegister">아이템 등록</button>
    <button type="submit" id="btnList">아이템 리스트 보기</button>
</div>

</body>
</html>