<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이템매니아 리스트</title>
</head>
<body>
    <h3>아이템매니아 리스트</h3>
    <table border="1">
        <tr>
            <th align="center" width="80">CustNo</th>
            <th align="center" width="80">ID</th>
            <th align="center" width="80">PW</th>
            <th align="center" width="80">Nickname</th>
            <th align="center" width="80">ItemName</th>
            <th align="center" width="80">Price</th>
            <th align="center" width="80">RegDate</th>

        </tr>

    </table>
</body>
</html>